body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    padding: 20px;
    margin: 20px;
}
.grid {
    display: flex;
    flex-direction: column;
    padding: 8px;
    height: 500px;
    width: 500px;
    border: solid;
}

.rows {
    display: flex;
    flex-direction: row;
    flex:auto
}

.cols {
    background-color:rgb(236, 236, 236);
    border: solid;
    border-width: 2px;
    border-color: rgb(139, 139, 139);
    flex: auto;
}